// main: ../main.scss

/*-----------------------------------------------*\

Bouton d'action

\*-----------------------------------------------*/

@mixin btn-reset() {
    padding: 0;
    font-size: inherit;
    line-height: 1;
    border-radius: 0;
    border: none;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: $sansSerif;
    transition: all .3s $global-ease;

    &:focus {
        outline: none;
    }
    &::-moz-focus-inner {
        border: 0;
    }
}
button,
.btn-reset,
.button-reset {
    @include btn-reset;
}

@mixin button(){
    @include btn-reset;
    z-index: 1;
    position: relative;
    display: inline-block;
    padding: 0 20px;
    text-align: center;
    color: #fff;
    background-color: $cBrand;
    overflow: hidden;
    transition: all .3s;
    transition-timing-function: $global-ease;

    &:hover,
    &:focus {
    }
}

%button{
    @include button;

    &-small {
    }
    &-big {
        width: 100%;
    }
}

.button{
    @extend %button;

    // &-small {
    //     @extend %button-small;
    // }
    &-big {
        @extend %button-big;
    }
}
