/*
Set of mixins for bootstrap spacing system
To use instead of CSS classes
Author : https://gist.github.com/passcod/a44db3503799cb89c3ccea3f75ca715e
Exemple : @include ml(3); =>  margin-left: 3 * $spacer
*/

@function map-get-or-key($map, $key) {
	@if map-has-key($map, $key) or map-has-key($map, -$key) {
		@if $key != 'auto' and type-of($key) == 'number' and $key < 0 {
			@return 0 - map-get($map, -$key);
		} @else {
			@return map-get($map, $key);
		}
	} @else if type-of($key) == 'string' {
		@return unquote($key);
	} @else {
		@return $key;
	}
}

@function bsize($key) {
	@return map-get-or-key($spacers, $key);
}


@mixin m($space) {
	margin: bsize($space);
}
@mixin m-n($space) {
	margin: - bsize($space);
}

@mixin mt($space) {
	margin-top: bsize($space);
}
@mixin mt-n($space) {
	margin-top: - bsize($space);
}

@mixin mb($space) {
	margin-bottom: bsize($space);
}
@mixin mb-n($space) {
	margin-bottom: - bsize($space);
}

@mixin ml($space) {
	margin-left: bsize($space);
}
@mixin ml-n($space) {
	margin-left: - bsize($space);
}

@mixin mr($space) {
	margin-right: bsize($space);
}
@mixin mr-n($space) {
	margin-right: - bsize($space);
}

@mixin p($space) {
	padding: bsize($space);
}

@mixin pt($space) {
	padding-top: bsize($space);
}

@mixin pb($space) {
	padding-bottom: bsize($space);
}

@mixin pl($space) {
	padding-left: bsize($space);
}

@mixin pr($space) {
	padding-right: bsize($space);
}

@mixin mx($space) {
	@include ml($space);
	@include mr($space);
}
@mixin mx-n($space) {
	@include ml-n($space);
	@include mr-n($space);
}

@mixin my($space) {
	@include mt($space);
	@include mb($space);
}
@mixin my-n($space) {
	@include mt-n($space);
	@include mb-n($space);
}

@mixin px($space) {
	@include pl($space);
	@include pr($space);
}

@mixin py($space) {
	@include pt($space);
	@include pb($space);
}

@each $breakpoint in map-keys($grid-breakpoints) {
	@include media-breakpoint-up($breakpoint) {
		$infix: breakpoint-infix($breakpoint, $grid-breakpoints);

		// Some special margin utils
		.m#{$infix}-auto { margin: auto !important; }
		.mt#{$infix}-auto,
		.my#{$infix}-auto {
			margin-top: auto !important;
		}
		.mr#{$infix}-auto,
		.mx#{$infix}-auto {
			margin-right: auto !important;
		}
		.mb#{$infix}-auto,
		.my#{$infix}-auto {
			margin-bottom: auto !important;
		}
		.ml#{$infix}-auto,
		.mx#{$infix}-auto {
			margin-left: auto !important;
		}
	}
}
